.slateTokenWrapper {
    border-left: 1px dashed #BCBCBC;
    border-right: 1px dashed #BCBCBC;
}

.slateTokenContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    border-bottom: 1px dashed #BCBCBC;
}

.slateTokenText {
    font-family: var(--font-merriweather);
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #2d2d2d;
    text-align: right;
}

.slateTokenInnerSection {
    padding: 60px 50px;
}

.slateTokenDescription {
    font-size: 20px;
    line-height: 126%;
    letter-spacing: -0.4px;
    font-weight: 400;
    color: #4E4E4E;
}

.tokenUtility {
    margin-top: 50px;
    border-top: 1px dashed #BCBCBC;
    padding-top: 40px;
}

.tokenUtilityTitle {
    font-family: var(--font-merriweather);
    font-size: 24px;
    font-weight: 300;
    line-height: 89%;
    letter-spacing: -0.72px;
    margin-bottom: 40px;
}

.tokenUtilityList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tokenUtilityItem {
    width: calc(50% - 15px);
    display: flex;
}

.tokenUtilityIcon {
    height: 69px;
    width: 69px;
    margin-right: 24px;
    background-color: #EAEAEA;
}

.tokenUtilityContent {
    max-width: calc(100% - 69px - 24px);
}

.tokenUtilityContentTitle {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1.4px;
    line-height: 100%;
    color: #4E4E4E;
    margin-bottom: 10px;
}

.tokenUtilityContentDescription {
    color: #A1A1A1;
    font-size: 14px;
    line-height: 128%;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "IBM Plex Mono";
}