.header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.headerWrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.menuItem {
    a {
        font-weight: 600;
        color: #727272;
        font-size: 16px;
        letter-spacing: -0.32px;
        text-decoration: none;
    }
    img {
        display: block;
    }
}